.page-header {
    background-color: #0081A7;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 27pt;
    text-decoration: none;
}

.content {
    margin-top: auto;
    margin-bottom: auto;
    min-height: 100%;
    padding-right: 15px;
    padding-left: 15px;

    display: flex;
    align-items: left;
}

.card {
    background-color: #e5e5e5;
}

h1, h3 {
    font-family: 'Montserrat';
    color: #610303b0;
}

h2 {
    font-family: 'Montserrat';
}


h4 {
    font-family: 'Montserrat';
    color: #ffffff;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.glyphicon-list {
    float: right;
    margin-right: 20px;
    margin-bottom: 5px;
    font-size: 26pt;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000000;
    float: left;
    font-size: 26pt;
    margin-left: 20px;
    margin-top: 10px;
    text-decoration: none;
}

.post {
    background-color: #eeeeeece;
    margin-bottom: 35px;
    padding: 15;
    -webkit-box-shadow: 60% rgba(0,0,0,0.75);
    box-shadow: 0px -1px 14px -1px rgba(0,0,0,0.75);
}

.post h2 a, .post h1 a:visited {
    color: #000000;
}

#wrapper {
    height: 40px;
    display: flex;
}
  
img {
    padding: 0;
    display: block;
    margin: 0 auto auto 0;

    min-height: 100%; 
    width: auto;
}

submit {
    height: 20px;
    width: 100px;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #79a7d3;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 2s; /* 0.5 second transition effect to slide in the sidenav */
    line-height:14pt;
    animation-delay: 2s;
    white-space: nowrap
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}
  
/* The navigation menu links */
.sidenav a {
    padding-right: 8px;
    padding-left: 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}

.menudate {
    padding: 0px 8px 10px 32px;
    text-decoration: none;
    font-size: 8px;
    color: #e0e0e0;
    display: block;
}

.ml12 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.ml12 a:hover {
    color: #ffffff;
    cursor: pointer;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
}
    
@keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
}
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}